<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    {% include fonts.html %}
    <link rel="icon" href="{{ '/icons/favicon.png' | relative_url }}" type="image/jpg">

    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
</head>
<body>

    {% include header.html %}

    <main class="container">
        {{ content }}
    </main>

    {% include footer.html %}

</body>
</html>